/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts7, span.rvts7 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts8
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts9
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts10
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts12
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts13 /* Font Style */
{
 font-size: 11pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts14 /* Font Style */
{
 font-size: 14pt;
 font-weight: bold;
 color: #365f91;
}
span.rvts15 /* Font Style */
{
}
span.rvts16
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts17
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts18 /* Font Style */
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
a.rvts19, span.rvts19
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts20
{
 font-weight: bold;
}
a.rvts21, span.rvts21
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Calibri';
 text-decoration: underline;
}
a.rvts24, span.rvts24
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts24:hover { color: #0000ff; }
span.rvts25
{
 font-family: 'Calibri';
}
span.rvts26
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Calibri';
}
a.rvts28, span.rvts28
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts29, span.rvts29
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts29:hover { color: #0000ff; }
a.rvts30, span.rvts30
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts31, span.rvts31
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts31:hover { color: #0000ff; }
a.rvts32, span.rvts32
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts33, span.rvts33
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts33:hover { color: #0000ff; }
a.rvts34, span.rvts34
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts35, span.rvts35
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts35:hover { color: #0000ff; }
span.rvts36
{
 font-size: 11pt;
}
a.rvts37, span.rvts37
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts37:hover { color: #0000ff; }
a.rvts38, span.rvts38
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts38:hover { color: #0000ff; }
span.rvts39
{
 font-size: 12pt;
}
a.rvts40, span.rvts40
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts40:hover { color: #0000ff; }
a.rvts41, span.rvts41
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts41:hover { color: #0000ff; }
a.rvts42, span.rvts42
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts42:hover { color: #0000ff; }
span.rvts43
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts44
{
 font-size: 14pt;
 font-family: 'Calibri';
}
span.rvts45
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts47, span.rvts47
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts47:hover { color: #0000ff; }
a.rvts48, span.rvts48
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts48:hover { color: #0000ff; }
a.rvts49, span.rvts49
{
 font-size: 14pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts49:hover { color: #0000ff; }
a.rvts50, span.rvts50
{
 font-size: 14pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts50:hover { color: #0000ff; }
a.rvts51, span.rvts51
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts51:hover { color: #0000ff; }
a.rvts52, span.rvts52
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts52:hover { color: #0000ff; }
a.rvts53, span.rvts53
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts53:hover { color: #0000ff; }
a.rvts54, span.rvts54
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts54:hover { color: #0000ff; }
a.rvts55, span.rvts55
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts55:hover { color: #0000ff; }
a.rvts56, span.rvts56
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts56:hover { color: #0000ff; }
span.rvts57
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts58, span.rvts58
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts58:hover { color: #0000ff; }
a.rvts59, span.rvts59
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts59:hover { color: #0000ff; }
a.rvts60, span.rvts60
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts60:hover { color: #0000ff; }
span.rvts61
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts62
{
 font-size: 13pt;
 font-family: 'Cambria';
 font-weight: bold;
}
span.rvts63
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 text-decoration: underline;
}
span.rvts64
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts65, span.rvts65
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts65:hover { color: #0000ff; }
span.rvts66
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts67
{
 font-size: 14pt;
 font-family: 'Calibri';
}
span.rvts68
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts69, span.rvts69
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts69:hover { color: #0000ff; }
span.rvts70
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
 background-color: #e5e5e5;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Calibri';
 background-color: #e5e5e5;
}
span.rvts72
{
 font-size: 13pt;
 font-weight: bold;
 color: #000000;
 background-color: #e5e5e5;
}
span.rvts73
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
 background-color: #e5e5e5;
}
span.rvts74
{
 font-size: 13pt;
 font-weight: bold;
 color: #000000;
}
span.rvts75
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts76
{
 font-size: 13pt;
 font-family: 'Cambria';
 font-weight: bold;
 color: #000000;
 background-color: #e5e5e5;
}
span.rvts77
{
 font-size: 13pt;
 font-family: 'Cambria';
 font-weight: bold;
 color: #000000;
}
span.rvts78
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts79
{
 font-size: 12pt;
 font-family: 'Brush Script MT';
}
span.rvts80
{
 font-size: 12pt;
 font-family: 'Brush Script MT';
 font-weight: bold;
 color: #000000;
}
span.rvts81
{
 font-size: 13pt;
 font-family: 'Brush Script MT';
 font-weight: bold;
 color: #000000;
}
span.rvts82
{
 font-family: 'Brush Script MT';
}
span.rvts83
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts84
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts85
{
 font-size: 9pt;
 font-family: 'Calibri';
}
span.rvts86
{
 font-size: 11pt;
 font-family: 'Calibri';
 background-color: #e5e5e5;
}
span.rvts87
{
 font-size: 12pt;
 font-family: 'Cambria';
 font-weight: bold;
 color: #000000;
 background-color: #e5e5e5;
}
a.rvts88, span.rvts88
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts88:hover { color: #0000ff; }
a.rvts89, span.rvts89
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts89:hover { color: #0000ff; }
a.rvts90, span.rvts90
{
 font-size: 14pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts90:hover { color: #0000ff; }
a.rvts91, span.rvts91
{
 font-size: 14pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts91:hover { color: #0000ff; }
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps3
{
 background: #c0c0c0;
}
.rvps4 /* Paragraph Style */
{
}
.rvps5 /* Paragraph Style */
{
}
.rvps6
{
 text-align: center;
}
.rvps7
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps8
{
 text-indent: 48px;
}
.rvps9
{
 text-align: center;
 text-indent: 48px;
}
.rvps10
{
 margin: 0px 0px 0px 48px;
}
.rvps11
{
 text-align: center;
}
.rvps12
{
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 page-break-inside: avoid;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 13px 0px 0px 0px;
}
.rvps14
{
 text-align: left;
 text-indent: 0px;
 page-break-inside: avoid;
 page-break-after: avoid;
 background: #d9d9d9;
 padding: 0px 0px 0px 0px;
 margin: 13px 0px 0px 0px;
}
.rvps15
{
 text-indent: -48px;
 margin: 0px 0px 0px 48px;
}
.rvps16
{
 text-align: center;
 text-indent: -48px;
 margin: 0px 0px 0px 48px;
}
.rvps17
{
 background: #e5e5e5;
}
.rvps18
{
 background: #ff6666;
}
.rvps19
{
 background: #bad2e4;
}
.rvps20
{
 margin: 0px 0px 0px 72px;
}
.rvps21
{
 margin: 0px 0px 0px 96px;
}
.rvps22
{
 background: #bad2e4;
}
